* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: "Russo One", sans-serif;
  font-weight: 100;
}

.container {
  display: flex;
  justify-content: center;
}

.wrapper {
  flex-direction: column;
}

.header {
  position: relative;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  background-color: #000;
}

.header::before {
  content: "";
  position: absolute;
  right: 0; bottom: -4px;
  width: 100%;
  border-bottom: 8px dashed #ff4200;
  z-index: 0;
}

.header__logo {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.header__logo::before {
  content: "";
  position: absolute;
  right: 0; top: -32px;
  width: 132px; height: 132px;
  border-radius: 50%;
  background: #ff4200;
  z-index: 0;
}

.header__logo::after {
  content: "";
  position: absolute;
  right: 0; top: -32px;
  width: 132px; height: 132px;
  background-image: url(../../assets/svg/note.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 50;
}

.logo__title {
  margin: 0;
  color: #fff;
  font-weight: 100;
  position: relative;
  z-index: 100;
}

.nav__list {
  display: flex;
  list-style: none;
}

.nav__item {
  margin: 10px;
  text-decoration: none;
}

.nav__link {
  text-decoration: none;
  font-size: 24px;
  color: #fff;
  transition: ease-in-out .2s;
}

.nav__link:hover {
  color: #ff4200;
}

.nav__link_active {
  color: #ff4200;
  pointer-events: none;
}

.header__select {
  position: absolute;
  right: 0; top: 0;
  margin: 10px;
  padding: 2px 0;
  font-size: 16px;
  font-family: "Russo One", sans-serif;
  font-weight: 100;
  background-color: #ff4200;
  border-radius: 2px;
  border: none;
  outline: none;
  cursor: pointer;
}

.main {
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 50px 0;
  font-size: 48px;
}

.main__result {
  font-size: 52px;
  color: #ff4200;
  margin: 0;
}

.main__points {
  margin-bottom: 60px;
}

.main__content {
  font-size: 32px;
  color: #ff4200;
  text-transform: uppercase;
}

.content__link {
  font-weight: 100;
  color: #000;
  background-color: #ff4200;
  border: 1px dashed #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 40px;
  border-radius: 20px;
  transition: ease-in-out .1s;
}

.content__link:hover {
  color: #ff4200;
  background-color: #000;
}

.footer {
  position: relative;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  margin-top: 50px;
  background-color: #000;
}

.footer::before {
  content: "";
  position: absolute;
  right: 0; top: -4px;
  width: 100%;
  border-top: 8px dashed #ff4200;
  z-index: 0;
}

.footer__link,
.footer__copyright {
  font-size: 16px;
  text-align: center;
  margin: 10px;
  color: #fff;
  text-decoration: none;
  transition: ease-in-out .3s;
}

.footer__link:hover {
  color: #ff4200;
}

.footer__link_school {
  width: 80px; height: 32px;
  margin: 10px;
  background-image: url(../../assets/svg/rs_school_js.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transition: ease-in-out .3s;
}

.footer__link_school:hover {
  transform: scale(1.1);
}

@media (max-width: 640px) {
  .header {
    flex-direction: column;
    justify-content: end;
  }

  .header__select {
    font-size: 12px;
  }

  .header__logo::before {
    right: 0; top: -20px;
    width: 100px; height: 100px;
  }

  .header__logo::after {
    right: 0; top: -20px;
    width: 100px; height: 100px;
  }

  .logo__title {
    font-size: 28px;
  }

  .nav__link {
    font-size: 16px;
  }

  .main {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 50px 0;
    padding: 20px;
    font-size: 36px;
  }

  .main__result {
    font-size: 52px;
  }

  .main__points {
    margin-bottom: 60px;
  }

  .content__link {
    font-size: 20px;
    padding: 10px 20px;
  }

  .footer {
    flex-direction: column;
    position: relative;
    justify-content: space-around;
    align-items: center;
    height: auto;
    margin-top: 50px;
    padding: 50px;
  }
}