* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: "Russo One", sans-serif;
  font-weight: 100;
}

.container {
  display: flex;
  justify-content: center;
}

.wrapper {
  flex-direction: column;
}

.header {
  position: relative;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  background-color: #000;
}

.header::before {
  content: "";
  position: absolute;
  right: 0; bottom: -4px;
  width: 100%;
  border-bottom: 8px dashed #ff4200;
  z-index: 0;
}

.header__logo {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.header__logo::before {
  content: "";
  position: absolute;
  right: 0; top: -32px;
  width: 132px; height: 132px;
  border-radius: 50%;
  background: #ff4200;
  z-index: 0;
}

.header__logo::after {
  content: "";
  position: absolute;
  right: 0; top: -32px;
  width: 132px; height: 132px;
  background-image: url(../../assets/svg/note.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 50;
}

.logo__title {
  margin: 0;
  color: #fff;
  font-weight: 100;
  position: relative;
  z-index: 100;
}

.nav__list {
  display: flex;
  list-style: none;
}

.nav__item {
  margin: 10px;
  text-decoration: none;
}

.nav__link {
  text-decoration: none;
  font-size: 24px;
  color: #fff;
  transition: ease-in-out .2s;
}

.nav__link:hover {
  color: #ff4200;
}

.nav__link_active {
  color: #ff4200;
  pointer-events: none;
}

.header__select {
  position: absolute;
  right: 0; top: 0;
  margin: 10px;
  padding: 2px 0;
  font-size: 16px;
  font-family: "Russo One", sans-serif;
  font-weight: 100;
  background-color: #ff4200;
  border-radius: 2px;
  border: none;
  outline: none;
  cursor: pointer;
}

.main {
  flex-direction: column;
  align-items: center;
}

.questions {
  justify-content: space-around;
  width: 100%;
  background-color: #f1f3f4;
}

.questions__list {
  width: 840px;
  padding: 0;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.questions__item {
  position: relative;
  font-size: 20px;
  margin-right: 40px;
  color: #000;
  transition: ease-in-out .2s;
}

.questions__item::before {
  content: "";
  position: absolute;
  right: -20px; bottom: -4px;
  width: 2px; height: 32px;
  border-right: 2px dashed #ff4200;
  transform: rotate(20deg);
}

.questions__item_active {
  color: #ff4200;
}

.score {
  width: 200px;
  font-size: 32px;
  font-weight: 100;
}

.player {
  width: 960px;
}

.player__wrapper {
  width: 960px;
  justify-content: space-around;
  padding: 40px 0 20px;
}

.player__img {
  width: 100px; height: 100px;
  background-image: url(../../assets/svg/question.svg);
  background-size: contain;
  background-color: #ff4200;
  border: 1px dashed #fff;
  border-radius: 10px;
}

.player-button__play {
  width: 100px; height: 100px;
  background-image: url(../../assets/svg/play.svg);
  background-size: contain;
  background-color: #ff4200;
  border: 1px dashed #fff;
  border-radius: 50%;
  cursor: pointer;
}

.player-button__play.pause {
  background-image: url(../../assets/svg/pause.svg);
}

.player__track {
  width: 640px;
  flex-direction: column;
  justify-content: space-between;
}

.track__title {
  margin: 0;
  font-weight: 100;
  text-align: center;
}

.track__progress {
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  width: 100%; height: 25px;
  margin-top: 5px;
  cursor: pointer;
  border: 1px dashed #000;
  border-radius: 24px;
}

.track__progress::-webkit-slider-runnable-track {
  background: #fff;
}

.track__progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 24px; height: 24px;
  border-radius: 50%;
  background: #ff4200;
  box-shadow: -400px 0 0 388px #000;
}

.player__control {
  justify-content: space-between;
}

.player-button__volume {
  width: 24px; height: 24px;
  margin: 0 5px 0 3px;
  background-image: url(../../assets/svg/volume-off.svg);
  background-size: contain;
  border: 1px dashed #ff4200;
  border-radius: 50%;
  cursor: pointer;
}

.player-button__volume.muted {
  background-image: url(../../assets/svg/volume-on.svg);
}

.player-button__level {
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  width: 240px; height: 13px;
  margin-top: 5px;
  cursor: pointer;
  border: 1px dashed #000;
  border-radius: 12px;
}

.player-button__level::-webkit-slider-runnable-track {
  background: #fff;
}

.player-button__level::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px; height: 12px;
  border-radius: 50%;
  background: #ff4200;
  box-shadow: -200px 0 0 194px #000;
}

.time__progress {
  position: relative;
  width: 60px;
}

.time__progress::before {
  content: "";
  position: absolute;
  right: 7px; bottom: 0;
  width: 2px; height: 30px;
  border-right: 1px dashed #ff4200;
  transform: rotate(20deg);
}

.time__duration {
  width: 60px;
}

.quiz {
  width: 960px;
  flex-direction: column;
  align-items: center;
}

.quiz__wrapper {
  align-items: flex-start;
}

.quiz__question {
  width: 480px;
}

.options__list {
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin-right: 50px;
  width: 100%;
}

.options__item {
  position: relative;
  font-size: 24px;
  margin-bottom: 15px;
  padding: 10px 0 10px 50px;
  color: #fff;
  background-color: #000;
  border-radius: 10px;
  border: 1px dashed #fff;
  cursor: pointer;
}

.options__item.disable {
  pointer-events: none;
}

.options__item::before {
  content: "";
  position: absolute;
  left: 15px; bottom: 15px;
  width: 20px; height: 20px;
  border-radius: 50%;
  background-color: #f1f3f4;
}

.options__item.right::before {
  background-color: #00ff00;
}

.options__item.wrong::before {
  background-color: #ff0000;
}

.quiz__answer {
  width: 480px;
  flex-direction: column;
  justify-content: flex-start;
}

.answer__info {
  display: flex;
  width: 480px;
  justify-content: space-between;
}

.answer__img {
  width: 200px; height: 200px;
  background-size: contain;
  background-color: #ff4200;
  border-radius: 10px;
}

.answer__details {
  display: flex;
  width: 270px; height: 200px;
  flex-direction: column;
  justify-content: space-around;
}

.answer__title {
  margin: 0;
  font-weight: 100;
  color: #ff4200;
}

.answer__subtitle {
  margin: 0;
  font-weight: 100;
}

.answer__player {
  display: flex;
  justify-content: space-between;
}

.answer-button__play {
  width: 50px; height: 50px;
  background-image: url(../../assets/svg/play.svg);
  background-size: contain;
  background-color: #ff4200;
  border: 1px dashed #fff;
  border-radius: 50%;
  cursor: pointer;
}

.answer-button__play.pause {
  background-image: url(../../assets/svg/pause.svg);
}

.answer__track {
  width: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.answer-track__progress {
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  width: 100%; height: 15px;
  margin-top: 5px;
  cursor: pointer;
  border: 1px dashed #000;
  border-radius: 24px;
}

.answer-track__progress::-webkit-slider-runnable-track {
  background: #fff;
}

.answer-track__progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px; height: 15px;
  border-radius: 50%;
  background: #ff4200;
  box-shadow: -200px 0 0 193px #000;
}

.answer-track__control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answer-track__volume {
  display: flex;
  justify-content: space-between;
}

.answer-button__volume {
  width: 24px; height: 24px;
  margin: 0 5px 0 3px;
  background-image: url(../../assets/svg/volume-off.svg);
  background-size: contain;
  border: 1px dashed #ff4200;
  border-radius: 50%;
  cursor: pointer;
}

.answer-button__volume.muted {
  background-image: url(../../assets/svg/volume-on.svg);
}

.answer-button__level {
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  width: 70px; height: 10px;
  margin-top: 7px;
  cursor: pointer;
  border: 1px dashed #000;
  border-radius: 12px;
}

.answer-button__level::-webkit-slider-runnable-track {
  background: #fff;
}

.answer-button__level::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 9px; height: 9px;
  border-radius: 50%;
  background: #ff4200;
  box-shadow: -200px 0 0 194px #000;
}

.answer__time {
  width: 80px;
  display: flex;
  font-size: 12px;
}

.answer-time__progress {
  width: 40px;
  position: relative;
}

.answer-time__progress::before {
  content: "";
  position: absolute;
  right: 3px; bottom: 0;
  width: 1px; height: 16px;
  border-right: 1px dashed #ff4200;
  transform: rotate(20deg);
}

.answer-time__duration {
  width: 40px;
}

.answer__description {
  height: 172px;
  padding: 0 10px 0 0;
  overflow-y: scroll;
  font-weight: 100;
}

.answer__message {
  font-size: 32px;
  text-align: center;
}

.button__level {
  width: 300px;
  padding: 10px;
  font-family: "Russo One", sans-serif;
  font-size: 24px;
  font-weight: 100;
  color: #fff;
  background-color: #ff4200;
  border-radius: 10px;
  border: 1px dashed #fff;
  cursor: pointer;
  pointer-events: none;
  opacity: .5;
}

.button__level.active {
  pointer-events: auto;
  opacity: 1;
}

.slider__item {
  width: 820px;
  justify-content: space-between;
}

.slider__img {
  width: 400px; height: 400px;
  background: url(../../assets/img/titanic.webp);
  background-size: contain;
  border-radius: 6px;
  position: relative;
}

.slider__name {
  position: absolute;
  right: 0; bottom: 0;
  margin: 10px;
  padding: 10px 20px;
  font-weight: 100;
  color: #ff4200;
  background: rgb(0, 0, 0, .75);
}

.slider__info {
  width: 400px;
  font-weight: 100;
}

.slider__title {
  margin: 0;
  font-weight: 100;
  color: #ff4200;
}

.slider__subtitle {
  margin-top: 0;
  font-weight: 100;
}

.slider__description {
  margin: 0;
  height: 324px;
  padding-right: 40px;
  overflow-y: scroll;
  font-weight: 100;
  position: relative;
}

.footer {
  position: relative;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  margin-top: 50px;
  background-color: #000;
}

.footer::before {
  content: "";
  position: absolute;
  right: 0; top: -4px;
  width: 100%;
  border-top: 8px dashed #ff4200;
  z-index: 0;
}

.footer__link,
.footer__copyright {
  font-size: 16px;
  text-align: center;
  margin: 10px;
  color: #fff;
  text-decoration: none;
  transition: ease-in-out .3s;
}

.footer__link:hover {
  color: #ff4200;
}

.footer__link_school {
  width: 80px; height: 32px;
  margin: 10px;
  background-image: url(../../assets/svg/rs_school_js.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transition: ease-in-out .3s;
}

.footer__link_school:hover {
  transform: scale(1.1);
}

@media (max-width: 1080px) {
  .questions {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }

  .questions__list {
    width: 640px;
  }

  .questions__item {
    font-size: 16px;
    margin-right: 40px;
  }

  .score {
    width: 120px;
    font-size: 24px;
    font-weight: 100;
  }

  .player {
    width: 640px;
  }

  .player__wrapper {
    width: 640px;
  }


  .player__track {
    width: 400px;
  }

  .player-button__level {
    width: 180px;
  }

  .quiz {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .quiz__wrapper {
    flex-direction: column;
  }

  .quiz__question {
    flex-direction: column;
    justify-content: center;
  }

  .options__list {
    flex-direction: column;
    margin: 0;
    padding-top: 20px;
    width: 100%;
  }

  .options__item {
    position: relative;
    font-size: 24px;
    margin-bottom: 15px;
    padding: 10px 0 10px 50px;
    color: #fff;
    background-color: #000;
    border-radius: 10px;
    border: 1px dashed #fff;
    cursor: pointer;
  }

  .options__item.disable {
    pointer-events: none;
  }

  .options__item::before {
    content: "";
    position: absolute;
    left: 15px; bottom: 15px;
    width: 20px; height: 20px;
    border-radius: 50%;
    background-color: #f1f3f4;
  }

  .options__item.right::before {
    background-color: #00ff00;
  }

  .options__item.wrong::before {
    background-color: #ff0000;
  }

  .quiz__answer {
    width: 480px;
    flex-direction: column;
    justify-content: flex-start;
  }

  .answer__info {
    display: flex;
    width: 480px;
    justify-content: space-between;
  }

  .button__level {
    margin-top: 20px;
  }
}

@media (max-width: 640px) {
  .header {
    flex-direction: column;
    justify-content: end;
  }

  .header__select {
    font-size: 12px;
  }

  .header__logo::before {
    right: 0; top: -20px;
    width: 100px; height: 100px;
  }

  .header__logo::after {
    right: 0; top: -20px;
    width: 100px; height: 100px;
  }

  .logo__title {
    font-size: 28px;
  }

  .nav__link {
    font-size: 16px;
  }

  .questions {
    padding-top: 0;
  }

  .questions__list {
    width: 360px;
    padding: 0;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  .questions__item {
    position: relative;
    font-size: 12px;
    margin-right: 10px;
    color: #000;
    transition: ease-in-out .2s;
  }

  .questions__item::before {
    right: -6px; bottom: -1px;
    width: 1px; height: 16px;
    border-right: 1px dashed #ff4200;
  }

  .score {
    margin-top: 0;
    width: 70px;
    font-size: 16px;
  }

  .player {
    width: 100%;
    align-content: center;
  }

  .player__wrapper {
    width: 360px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }

  .player__img {
    width: 50px; height: 50px;
  }

  .player-button__play {
    width: 50px; height: 50px;
  }

  .player__track {
    width: 260px;
    flex-direction: column;
    justify-content: space-between;
  }

  .track__title {
    font-size: 14px;
  }

  .track__progress {
    width: 256px;
  }

  .player__control {
    align-items: center;
  }

  .player-button__level {
    width: 80px; height: 13px;
  }

  .time__progress {
    font-size: 12px;
    width: 50px;
  }

  .time__progress::before {
    height: 16px;
  }

  .time__duration {
    font-size: 12px;
    width: 50px;
  }

  .quiz {
    flex-direction: column;
    align-items: center;
  }

  .quiz__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .quiz__question {
    width: 360px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .options__list {
    flex-direction: column;
    margin: 0;
    padding: 20px;
    width: 360px;
  }

  .options__item {
    margin-bottom: 10px;
  }

  .quiz__answer {
    width: 360px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .answer__info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
  }

  .answer__img {
    width: 200px; height: 200px;
  }

  .answer__details {
    display: flex;
    width: 360px; height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .answer__player {
    width: 96%;
    display: flex;
    justify-content: space-between;
  }

  .answer-button__play {
    width: 50px; height: 50px;
  }

  .answer__track {
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .answer-button__level {
    width: 120px;
  }

  .answer__description {
    width: 90%;
    height: 172px;
    padding: 0 10px 0 0;
    overflow-y: scroll;
    font-weight: 100;
  }

  .answer__message {
    font-size: 24px;
    text-align: center;
  }

  .button__level {
    margin-top: 20px;
  }

  .footer {
    flex-direction: column;
    position: relative;
    justify-content: space-around;
    align-items: center;
    height: auto;
    margin-top: 50px;
    padding: 50px;
  }
}